@charset "utf-8"
html,body{
    width:100%;
    height:100%;
    background:#ccc;
}
*{
    pading:0;
    margin:0;
}
textarea{
    resize:none;
    background:#454545;
    color:#ccc;
}
.now_room span{color:red;}