body, html {
  width: 100%;
  height: 100%;
  display: flex; }

.catalog {
  height: 95%;
  flex: 1; }
  .catalog .posi {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #414141;
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
    overflow-y: auto; }
  .catalog .tit {
    font-size: 30px; }
  .catalog h1 {
    font-size: 24px;
    line-height: 1.2; }
  .catalog h2 {
    font-size: 20px;
    line-height: 1.2;
    text-indent: 2em; }
  .catalog h3 {
    font-size: 16px;
    line-height: 1.2;
    text-indent: 4em; }
  .catalog h4 {
    font-size: 12px;
    line-height: 1.2;
    text-indent: 6rem; }
  .catalog a {
    color: #242424; }
    .catalog a:hover {
      text-decoration: underline; }

.content {
  padding: 2%;
  box-sizing: border-box;
  flex: 4; }
  .content .tit {
    font-size: 20px;
    padding-bottom: 10px; }
  .content p {
    color: #414141;
    padding-bottom: 8px; }
  .content .nimi_tit {
    padding-bottom: 5px; }
  .content .content_text {
    padding-left: 20px; }

.important {
  color: #000;
  font-weight: bold; }
